{# src/Fr/TicketsBundle/Ressources/views/Tickets/adminopentickets.html.twig #}

{% extends "FrTicketsBundle::layout.html.twig" %}

{% block frtickets_body %}
<h1>Tickets</h1>

{{ 'open the ticket?'|trans }}

{{ include("FrTicketsBundle:Tickets:form.html.twig") }}



{% endblock %}
