{# src/Fr/TicketsBundle/Ressources/views/Tickets/destinataires.html.twig #}

{% extends "FrTicketsBundle::layout.html.twig" %}

{% block frtickets_body %}
<h1>{{ 'Atribute tickets'|trans }}</h1>

{{ 'atribute ticket?'|trans }}

{{ include("FrTicketsBundle:Tickets:form.html.twig") }}



{% endblock %}
