{# src/Fr/ReponseBundle/Resources/views/Reponse/user_add_reponse.html.twig #}



{% extends "FrReponseBundle::layout.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block frreponse_body %}

  <h2>Answer</h2>
  

  {{ include("FrReponseBundle:Reponse:form.html.twig") }}

  <p>
    Vous repondez a un ticket,  une fois valide elle sera publie.
  </p>

{% endblock %}
