{# src/BI/BiodanzaBundle/Resources/views/Advert/add.html.twig #}

{# src/BI/BiodnazaBundle/Resources/views/Advert/edit.html.twig #}

{% extends "BIBiodanzaBundle::layout.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block bibiodanza_body %}

  <h2>Ajouter une annonce</h2>
  

  {{ include("BIBiodanzaBundle:Advert:form.html.twig") }}

  <p>
    Vous creez une annonce une fois valide elle sera publie.
  </p>

{% endblock %}