{# src/Fr/TicketsBundle/Ressources/views/Tickets/etattickets.html.twig #}

{% extends "FrTicketsBundle::layout.html.twig" %}

{% block frtickets_body %}
<h1>Etat tickets</h1>

{{ 'close the ticket?'|trans }}

{{ include("FrTicketsBundle:Tickets:form.html.twig") }}



{% endblock %}
