{# src/BI/BiodanzaBundle/Resources/views/Advert/index.html.twig #}

{% extends "FrProjetBundle::layout.html.twig" %}

{% block title %}
  {{ 'Home'|trans }} - {{ parent() }}
{% endblock %}

{% block frprojet_body %}

  <h2>{{ 'Home'|trans }}</h2>

  {# On vérifie qu'une image soit bien associée à l'annonce #}
 




{% endblock %}
